		<!-- article 1 -->
		<div class="article-box world news">

			<h3 class="section-title World"></h3>
			
			<h3 class="article-title World"></h3>

			<p class="article-text World"></p>

			<a href="" class="article-source World"></a>


		</div>
		<!-- article 2 -->
		<div class="article-box Politics">

			<h3 class="section-title Politics"></h3>
			
			<h3 class="article-title Politics"></h3>

			<p class="article-text Politics"></p>

			<a href="" class="article-source Politics"></a>


		</div>
		<!-- article 3 -->
		<div class="article-box Science">

			<h3 class="section-title Science"></h3>
			
			<h3 class="article-title Science"></h3>

			<p class="article-text Science"></p>

			<a href="" class="article-source Science"></a>


		</div>
		<!-- article 4 -->
		<div class="article-box Technology">

			<h3 class="section-title Technology"></h3>
			
			<h3 class="article-title Technology"></h3>

			<p class="article-text Technology"></p>

			<a href="" class="article-source Technology"></a>


		</div>
		<!-- article 5 -->
		<div class="article-box Sports">

			<h3 class="section-title Sports"></h3>
			
			<h3 class="article-title Sports"></h3>

			<p class="article-text Sports"></p>

			<a href="" class="article-source Sports"></a>


		</div>