body {
	font-family: 'Old Standard TT', serif;
	margin: 0 auto;
	background: #f5f5f5;
	color: #292929;
}


.header {
	text-align: center;
	width: 100%;
	margin: auto;
	padding: 1rem 0 0 0;
	background: #292929;
	color: #fbfbfb;
	display: inline-block;
}

.page-title {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: .5rem;
}

.page-title a {
	text-decoration: none;
	color: #fbfbfb;
}

.page-sub-title {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: .5rem;
}

.nav-wrapper {
	text-align: center;
	display: inline-block;
}

.nav {
	margin: auto;
	text-align: center;
	-webkit-margin-after: -.15rem;
}
.nav:after {
	content: "";
	display: table;
	clear: both;
}

.nav a {
	color: #f5f5f5;
	text-decoration: none;
}

.nav a:hover {
}

.nav-link {
	display: inline-block;
	float: left;
	color: #f5f5f5;
	padding: .5rem .5rem 0 .5rem;
	margin-left: .3rem;
	margin-right: .3rem;
	font-size: 1rem;
}

@media (max-width: 450px) {
	.nav-link {
		padding-left: .2rem;
		padding-right: .2rem;
		font-size: .8rem;
	}
	.nav-link:last-of-type {
		margin-right: 0;
	}
	.nav-link:first-of-type {
		margin-left: 0;
	}

}

.nav-link.World {
	border-bottom: 3px solid #76afcf;
}

.nav-link.World:hover {
	border-bottom: 3px solid #fbfbfb;
}

.nav-link.Us {
	border-bottom: 3px solid #b6cc66;
}

.nav-link.Us:hover {
	border-bottom: 3px solid #fbfbfb;
}

.nav-link.Science {
	border-bottom: 3px solid #d4b76a;
}

.nav-link.Science:hover {
	border-bottom: 3px solid #fbfbfb;
}

.nav-link.Business {
	border-bottom: 3px solid #db8c58;
}

.nav-link.Business:hover {
	border-bottom: 3px solid #fbfbfb;
}

.nav-link.Sports {
	border-bottom: 3px solid #ab4a3f;
}

.nav-link.Sports:hover {
	border-bottom: 3px solid #fbfbfb;
}

.nav-link.Weather {
	border-bottom: 3px solid #717dbd;
}

.nav-link.Weather:hover {
	border-bottom: 3px solid #fbfbfb;
}

.container {
	margin-top: 3rem;
	min-height: 600px;
}

@media (max-width: 700px) {
	.container {
		margin-top: 2rem;
	}
}

.category-title {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.article-box {
	width: 60%;
	margin: 0 auto 0 auto;
	padding: 1rem;
	border-bottom: 1px solid #999999;
}

@media (max-width: 700px) {
	.article-box {
		width: 85%;
	}
}

.article-box:nth-child(even) {
	background: #dddddd;
}

.article-box:last-child {
	margin-bottom: 2rem;
}

.section-title {
	text-align: center;
	text-decoration: underline;
	margin: .5rem;
	font-size: 1.2rem;
	color: #454545;
}

.article-title {
	margin: .5rem auto;
	font-size: 1.2rem;
	font-weight: 800;
	text-align: center;
}

.article-date {
	font-size: .8rem;
}

.article-text {
	font-size: 1rem;
	text-align: justify;
}

.centered-text {
	text-align: center;
}

.centered-text.attribution {
	margin-top: 3rem;
}

.article-box img {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.footer {
	text-align: center;
	color: #707070;
	padding: 1rem;
	display: none;
}

.footer.visible {
	display: block;
}

.footer a {
	color: #111111;
	text-decoration: none;
}